<html>
    <table>
        <tr>
            <th>UserName</th>
            <th>Password</th>
            <th>phone</th>
            <th>image</th>
            <th>Action</th>
        </tr>
        {{#each list}}
        <tr>
            
            <td>{{this.username}}</td>
            <td>{{this.password}}</td>
            <td>{{this.phoneno}}</td>
            <td><img width="100px" height="100px" src = "/{{this.image}}"</td>
            <td><a href="/employee/{{this._id}}">update</a>
                 <a href="/employee/delete/{{this._id}}" onclick="return confirm('are you sure to delete this record?');">Delete</a>
            </td>
            
        </tr>
        {{/each}}
    </table>
</html>